@charset "utf-8";

a,address,b,big,blockquote,body,center,cite,code,dd,del,div,dl,dt,em,fieldset,font,form,
h1,h2,h3,h4,h5,h6,html,i,iframe,img,ins,label,legend,li,ol,p,pre,small,span,strong,u,ul,var
{
    margin:0;
    padding:0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

i,em {
    font-style: normal;
    font-weight: normal;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

.clearfix::after,
.clearfix::before {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}

.clearfix {
    zoom: 1;
}



