@charset "utf-8";

.head {
    height: 130px;
    /*border: 1px solid red;*/
}

.head-left {
    float: left;
    width: 267px;
    height: 130px;
    background: url("../images/index/index-icon.png") no-repeat center center;
}

.head-center {
    float: left;
    width: 750px;
    height: 130px;
}

.head-right {
    float: right;
    width: 160px;
    height: 130px;
    box-sizing: border-box;
    padding-top: 30px;
}

.head-right > p {
    font-family: "微软雅黑";
    color: #999999;
    text-align: center;
    margin-bottom: 6px;
}

.head-right p:nth-child(2){
    font-size: 20px;
    color: #4ab344;
}

.head-right-login {
    text-align: center;
}


.head-right-login-a-1 {
    position: relative;
    font-size: 13px;
    color: #999999;
    padding: 0 6px;
}


.head-right-login-a-1 > span {
    position: absolute;
    font-size: 12px;
    top: -1px;
    right: 0px;
}

.head-right-login-a-2 {
    color: red ;
    font-size: 15px;
}

.banner {
    width: 100%;
    /*height: 650px;*/
}

.banner-top {
    height: 50px;
    background:  #2d2d2d;
}

.banner-top-center {
    height: 50px;
}

.banner-top-center ul {
    width: 100%;
    position: relative;
}

.banner-top-center ul li {
    float: left;
    width: 120px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-right: 10px;
}

.banner-top-center ul li.permanent {
    background: #4ab344;
}

.banner-top-center > ul > li > a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 18px;
}

.banner-top-center ul li.current {
    background: #4ab344;
}

.banner-top-center-ul-li-5 {
    position: relative;
}

.banner-top-center-ul-li-5 .sub-menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    display: none;
}

.banner-top-center-ul-li-5 .sub-menu a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #fff;
}

.banner-top-center-ul-li-5:hover .sub-menu{
    display: block;
    z-index: 100;
}

.banner-top-center-ul-li-5:hover .sub-menu div{
    background: #2d2d2d;
    margin-bottom: 5px;
}
.banner-top-center-ul-li-5:hover .sub-menu div.current{
    background: #4ab344;
}

.banner-img {
    width: 100%;
}

.banner-img img {
    width: 100%;
    height: auto;
}

.road {
    margin-bottom: 40px;
}

.road-head {
    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    border-bottom: 1px solid  lightgray;
    margin-bottom: 30px;
    position: relative;
}

.road-head span {
    color: #999999;
}

.road-head-center {
    position: absolute;
    width: 150px;
    height: 5px;
    background: #4ab344;
    left: 50%;
    margin-left: -75px;
    bottom: -2px;
}

.road-items {
    padding: 0 20px;
}

.road-item {
    width: 360px;
    height: 320px;
    margin-bottom: 40px;
    float: left;
    position: relative;
    top: 0;
    left: 0;
    transition: all 0.5s;
}

.road-item:hover {
    top: -10px;
}

.road-item:nth-child(3n+2) {
    margin: 0 40px;
}

.road-item > a {
    display: block;
    width: 100%;
    height: 200px;
}

.road-item > a > img {
    width: 100%;
    height: 200px;
}

.road-item-con {
    margin-top: 10px;
    padding: 0 20px;
    color: #666;
}

.road-item-con h3{
    margin-bottom: 10px;
}
.road-item-con h3 a {
    color: #000;
}

.road-item-con h3 a:hover {
    color: #FF6600;
    text-decoration: underline;
}



.foot-bottom {
    height: 300px;
    background: #2d2d2d;
    position: relative;
    font-family: "微软雅黑";
}

.foot-bottom > div {
    position: absolute;
    width: 470px;
    left: 50%;
    margin-left: -235px;
    text-align: center;
    color: #fff;
}


.foot-bottom-one span,
.foot-bottom-three span  {
    display: inline-block;
    width: 1px;
    height: 80px;
    position: absolute;
    background: #999999;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);;
}

.foot-bottom-one span {
    right: 200px;
}

.foot-bottom-two {
    top: 80px;
}

.foot-bottom-two p:nth-child(1) {
    font-size: 30px;
    font-weight: 800;
}

.foot-bottom-two p:nth-child(1) span {
    font-size: 30px;
    color: #4ab344;
}

.foot-bottom-three {
    top: 150px;
}

.foot-bottom-three span{
    left: 137px;
}

.foot-bottom-four {
    bottom: 10px;
}

.foot-bottom-four p {
    text-align: center;
    color: #999999;
}

.foot-bottom-four p a {
    color: #999999;
    text-decoration: underline;
}

.foot-bottom-four p a:hover {
    color: red;
}

